---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我"
	description="一个简单的自我介绍"
	pubDate={new Date('May 05 2025')}
	heroImage="/niubeiliang.jpg"
>
	<p>
		Hello，有缘相见。我是木公，生活在人间天堂杭州，当前是一名大模型算法工程师。
	</p>

	<p>
		我希望能够通过智能化技术解放劳动，让人从乏味、危险和异化的体力劳动和脑力劳动中解放出来，去进行更有创造性的活动。
	</p>

	<p>
		我具有广泛的兴趣。尤其喜欢小说，电影，历史和哲学。平常我也热爱运动，跑步，爬山，骑车和羽毛球。
	</p>

	<p>
		路漫漫其修远兮，吾将上下而求索，带上一个有趣的灵魂出发。也希望遇到志同道合的朋友一道探索。
	</p>
</Layout>
