---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle: string = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Hello, I'm a machine learning engineer specializing in natural language
    processing and information retrieval. I have spent the past ten years
    working in a large company, now I'm a freelancer and enjoy creating
    interesting projects.
  </p>

  <p>I code in python, c++, javascript and rust.</p>

  <p>
    I'm living in Hangzhou, Zhejiang, China. Besides coding, I love reading
    books, watching movies and running.
  </p>
</BaseLayout>
