---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<ul>
		{
			allPosts.map((post: any) => (
				<li>
					<a href={`/posts/${post.id}/`}>{post.data.title}</a>
				</li>
			))
		}
	</ul>
</BaseLayout>

<style>
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
		font-size: 1.4rem;
	}
</style>
