---
import { Image } from "astro:assets";
import GithubIcon from "../assets/github.svg";
import BiliBiliIcon from "../assets/bilibili.svg";
import EmailIcon from "../assets/email.svg";

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="copyright">
    &copy; {currentYear} Anyinlover's Cabin. All rights reserved.
  </div>
  <div class="social-icons">
    <a href="https://www.github.com/anyinlover">
      <Image src={GithubIcon} alt="github" width="24" height="24" />
    </a>
    <a href="https://space.bilibili.com/70173065">
      <Image src={BiliBiliIcon} alt="bilibili" width="26" height="26" />
    </a>
    <a href="mailto:guhangsong@outlook.com">
      <Image src={EmailIcon} alt="email" width="24" height="24" />
    </a>
  </div>
</footer>

<style>
  footer {
    display: flex;
    background-color: #aeb5c6;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem;
  }
</style>
