---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, LINKS } from "../consts";
import { Image, Picture } from "astro:assets";
import rss from "../assets/rss.svg";
---

<header class="mg-0 px-4 py-0 bg-white shadow-sm">
  <nav class="flex items-center justify-between">
    <h2 class="mg-0 text-2xl font-extrabold">
      <a
        href="/"
        class="flex items-center justify-between w-52 no-underline active:border-b-black py-1 px-0.5 text-black"
      >
        <img src="/favicon.svg" alt="logo" class="w-7 y-auto" />
        <span class="">{SITE_TITLE}🛖</span>
      </a>
    </h2>
    <div class="internal-links">
      {
        LINKS.map((link) => (
          <HeaderLink href={link.url}>{link.name}</HeaderLink>
        ))
      }
    </div>
    <div>
      <a href="/rss.xml"
        ><Image
          src={rss}
          alt="Subscribe to My Website"
          width="32"
          height="32"
        />
      </a>
    </div>
  </nav>
</header>
