---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, LINKS } from "../consts";
import { Image } from "astro:assets";
import rss from "../assets/rss.svg";
---

<header>
  <nav>
    <h2>
      <a href="/">
        <img src="/favicon.svg" alt="logo" class="w-7 y-auto" />
        <span class="">{SITE_TITLE}🛖</span>
      </a>
    </h2>
    <div class="internal-links">
      {
        LINKS.map((link) => (
          <HeaderLink href={link.url}>{link.name}</HeaderLink>
        ))
      }
    </div>
    <div>
      <a href="/rss.xml"
        ><Image
          src={rss}
          alt="Subscribe to My Website"
          width="32"
          height="32"
        />
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }

  h2 > a > img {
    display: inline-block;
    width: 32px;
    height: auto;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
