---
import type { MarkdownHeading } from "astro";

const { headings } = Astro.props;
---

<nav>
  <ul class="table-of-contents">
    {
      headings &&
        headings.map((heading: MarkdownHeading) => (
          <li>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))
    }
  </ul>
</nav>
